@CHARSET "ISO-8859-1";
html,body {
    height:100%;
    font-family: Verdana;
}


.centercolumn {
/*	width: 1024px;*/
    float: none;
    margin-left: 10px;
  	margin-right: 10px;
    
}

.clear {
	clear: both;
}

#view {
	height: 650px;
	
	background-color: #577295;
	background-image: url('images/featured-border.jpg');
	background-repeat: repeat-y;
	background-position: left;
	
}
#view div {
	float: left;
}
#container {
	width: 70%;
	height: 600px;
}
#leftPanel, #rigthPanel {
	
	width: 15%;
	height:90%;
}
#leftContent, #rightContent {
	height:90%;
	width: 90%;
	margin-left: 15px;
	margin-top: 15px;
	background-color: #DDDDDD;
	background-image: url('images/featured-border.jpg');
	background-repeat: repeat-y;
	background-position: left;
	color:#577295;
	padding-left: 15px;
	padding-rigth: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-top-color: white;
 	border-top-style: outset;
 	border-top-width: 2;
 	border-bottom-color: #999999;
 	border-bottom-style: outset;
 	border-bottom-width: 1;
}

select{
    background: url(images/greysquarearrow22px.png) no-repeat right #577295;
    width: 170px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight:600;
    color:#fff;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    -moz-border-radius: 15px;
    height: 22px;
    -webkit-appearance: none;

    }

#titlehh h1
{
color:#577295;
background-color:white;
text-shadow: 2px 2px #AAAAAA;
padding:0.2em 0.6em;
margin:0;
}
#copyright {
text-decoration: none;
font-size: 8px;
padding-top: 6px;
padding-bottom: 12px;
text-align: center;
}
ul#main-nav {
	margin-left: -20px;
}
ul#main-nav li {
	float: left;
	position: relative;
	margin-left: -20px;
	display: inline;
}
ul#main-nav li a {
	position: relative;
	width: 125px;
	height: 29px;
	display: block;
	background-image: url('images/tabs.png');
	background-position: center center;
	color: #EEEEEE;
	text-decoration: none;
	font-size: 14px;
	padding-top: 12px;
	text-align: left;
	padding-left: 15px;
	font-weight: bold;
}
ul#main-nav li.mnav1 a {
	background-image: url('images/tab-home.png');
}
ul#main-nav li.selected a {
	background-position: top;
	color: #ffffff;
}
ul#main-nav li a:hover {
	background-position: bottom;
	color: #ffffff;
}
ul#main-nav li.selected a:hover {
	background-position: top; /*To Prevent the Current tab from changing colour on hover*/
	color: #ffffff;
}
ul#main-nav li.selected {
	z-index: 100;
}
ul#main-nav li.mnav1 {
	z-index: 100;
}
ul#main-nav li.mnav2 {
	z-index: 99;
}
ul#main-nav li.mnav3 {
	z-index: 98;
}
ul#main-nav li.mnav4 {
	z-index: 97;
}
ul#main-nav li.mnav5 {
	z-index: 96;
}

ul#main-nav li.mnav6 {
	z-index: 95;
}
ul#main-nav li.mnav7 {
	z-index: 94;
}
ul#main-nav li.mnav8 {
	z-index: 93;
}
ul#main-nav li.mnav9 {
	z-index: 92;
}
ul#main-nav li.mnav10 {
	z-index: 91;
}




